/*slider 1*/
/*--------------------------------------------------------------------------------------------------------------*/
.slider-animate-text-inner-div {
    width: 100px;
}

.color-insta {
    color: #c44e58;
}

.color-telegram {
    color: #4a92c6;
}

.color-aparat {
    color: #bb3d75;
}

.main-slider {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    direction: ltr;
}

.font-slider-p {
    font-weight: 400;
    font-size: 12px;

}

.main-slider-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;

}

.font-slider-h {
    font-weight: 700;
    font-size: 20px;

}

.slide {
    position: relative;
    height: 100vh;
    width: 100%;
}

.slider-btn {
    opacity: 60%;
}

.slider-left-bottom-img {
    position: absolute;
    bottom: 3%;
    left: 4%;
    width: 20%;
    height: 40%;
    z-index: 0;
}

.slider-left-top-img {
    position: absolute;
    top: 12%;
    left: 4%;
    width: 20%;
    height: 40%;
    z-index: 0;
}

.slider-center-text {
    position: absolute;
    height: 60%;
    top: 20%;
    left: 2.5%;
    width: 95%;
    z-index: 1;
}

.slider-right-top-img {
    position: absolute;
    height: 40%;
    right: 0;
    top: 10%;
    width: 30%;
    z-index: 0;
}

.slider-right-bottom-img {
    position: absolute;
    bottom: 7%;
    height: 40%;
    right: 10%;
    width: 15%;
    z-index: 0;
}

.slider-next-btn {
    position: absolute;
    bottom: 10%;
    left: 47.5%;
    height: 8%;
    width: 5%;
    z-index: 1;
}

.slider-prev-btn {
    position: absolute;
    top: 0;
    left: 47.5%;
    height: 8%;
    width: 5%;
    z-index: 1;
}

.background-bold-text {
    font-family: Serif;
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
}

.slider-nav-btn-section {
    position: absolute;
    left: 0;
    height: 12%;
    width: 5%;
    top: 30%;
    z-index: 3;
}

.slider-nav-btn {
    width: 15px;
    height: 15px;
    border-left: 4px solid #0b5ed7;
    border-bottom-right-radius: 4px;
}

.m-text {
    margin-top: -30px;
}

.font-next {
    font-size: 30px;
    animation-name: next-btn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

.active-slider-btn {
    background: #0b5ed7;
}

@media (min-width: 576px) {
    .slider-animate-text-inner-div {
        width: 120px;
    }
    .main-slider {
        position: relative;
        height: 90vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p {
        font-weight: 400;
        font-size: 15px;

    }

    .font-slider-h {
        font-weight: 700;
        font-size: 25px;

    }

    .slide {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .slider-btn {
        opacity: 60%;
    }

    .slider-left-bottom-img {
        position: absolute;
        bottom: 5%;
        left: 4%;
        width: 20%;
        height: 40%;
        z-index: 0;
    }

    .slider-left-top-img {
        position: absolute;
        top: 10%;
        left: 4%;
        width: 20%;
        height: 40%;
        z-index: 0;
    }

    .slider-center-text {
        position: absolute;
        height: 60%;
        top: 20%;
        left: 7.5%;
        width: 85%;
        z-index: 1;
    }

    .slider-right-top-img {
        position: absolute;
        height: 40%;
        right: 0;
        width: 25%;
        z-index: 0;
    }

    .slider-right-bottom-img {
        position: absolute;
        bottom: 9%;
        height: 40%;
        right: 10%;
        width: 20%;
        z-index: 0;
    }

    .slider-next-btn {
        position: absolute;
        bottom: 10%;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn {
        position: absolute;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .background-bold-text {
        font-family: Serif;
        font-size: 60px;
        line-height: 70px;
        font-weight: 900;
    }

    .slider-nav-btn-section {
        position: absolute;
        left: 0;
        height: 12%;
        width: 5%;
        top: 30%;
        z-index: 3;
    }

    .slider-nav-btn {
        width: 15px;
        height: 15px;
        border-left: 4px solid #0b5ed7;
        border-bottom-right-radius: 4px;
    }

    .m-text {
        margin-top: -30px;
    }

    .font-next {
        font-size: 40px;
        animation-name: next-btn;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
    }
}

@media (min-width: 768px) {
    .slider-animate-text-inner-div {
        width: 140px;
    }
    .main-slider {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p {
        font-weight: 400;
        font-size: 15px;

    }

    .font-slider-h {
        font-weight: 700;
        font-size: 30px;

    }

    .slide {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .slider-btn {
        opacity: 60%;
    }

    .slider-left-bottom-img {
        position: absolute;
        bottom: 4%;
        left: 4%;
        width: 20%;
        height: 40%;
        z-index: 0;
    }

    .slider-left-top-img {
        position: absolute;
        top: 5%;
        left: 8%;
        width: 20%;
        height: 40%;
        z-index: 0;
    }

    .slider-center-text {
        position: absolute;
        height: 60%;
        top: 20%;
        left: 10%;
        width: 80%;
        z-index: 1;
    }

    .slider-right-top-img {
        position: absolute;
        height: 20%;
        top: 5%;
        right: 0;
        width: 25%;
        z-index: 0;
    }

    .slider-right-bottom-img {
        position: absolute;
        bottom: 5%;
        height: 40%;
        right: 10%;
        width: 20%;
        z-index: 0;
    }

    .slider-next-btn {
        position: absolute;
        bottom: 10%;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn {
        position: absolute;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-nav-btn-section {
        position: absolute;
        left: 0;
        height: 12%;
        width: 5%;
        top: 30%;
        z-index: 3;
    }

    .slider-nav-btn {
        width: 15px;
        height: 15px;
        border-left: 4px solid #0b5ed7;
        border-bottom-right-radius: 4px;
    }

    .m-text {
        margin-top: -30px;
    }

    .font-next {
        font-size: 40px;
        animation-name: next-btn;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
    }
}

@media (min-width: 991px) {
    .slider-animate-text-inner-div {
        width: 170px;
    }
    .main-slider {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p {
        font-weight: 400;
        font-size: 15px;

    }

    .font-slider-h {
        font-weight: 700;
        font-size: 35px;

    }

    .slide {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .slider-btn {
        opacity: 60%;
    }

    .slider-left-bottom-img {
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 16%;
        height: 40%;
        z-index: 0;
    }

    .slider-left-top-img {
        position: absolute;
        top: 5%;
        left: 15%;
        width: 16%;
        height: 30%;
        z-index: 0;
    }

    .slider-center-text {
        position: absolute;
        height: 60%;
        top: 20%;
        left: 10%;
        width: 80%;
        z-index: 1;
    }

    .slider-right-top-img {
        position: absolute;
        height: 25%;
        right: 0;
        top: 0;
        width: 25%;
        z-index: 0;
    }

    .slider-right-bottom-img {
        position: absolute;
        bottom: 15%;
        height: 30%;
        right: 20%;
        width: 15%;
        z-index: 0;
    }

    .slider-next-btn {
        position: absolute;
        bottom: 10%;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn {
        position: absolute;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-nav-btn-section {
        position: absolute;
        left: 0;
        height: 12%;
        width: 5%;
        top: 30%;
        z-index: 3;
    }

    .slider-nav-btn {
        width: 15px;
        height: 15px;
        border-left: 4px solid #0b5ed7;
        border-bottom-right-radius: 4px;
    }

    .m-text {
        margin-top: -30px;
    }

    .font-next {
        font-size: 40px;
        animation-name: next-btn;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
    }
}

@media (min-width: 1200px) {
    .slider-animate-text-inner-div {
        width: 170px;
    }
    .main-slider {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p {
        font-weight: 400;
        font-size: 15px;

    }

    .main-slider-background {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;

    }

    .font-slider-h {
        font-weight: 700;
        font-size: 35px;

    }

    .slide {
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .slider-btn {
        opacity: 60%;
    }

    .slider-left-bottom-img {
        position: absolute;
        bottom: 10%;
        left: 4%;
        width: 20%;
        height: 40%;
        z-index: 0;
    }

    .slider-left-top-img {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 16%;
        height: 30%;
        z-index: 0;
    }

    .slider-center-text {
        position: absolute;
        height: 60%;
        top: 20%;
        left: 17.5%;
        width: 65%;
        z-index: 1;
    }

    .slider-right-top-img {
        position: absolute;
        height: 40%;
        top: -3%;
        right: 4%;
        width: 25%;
        z-index: 0;
    }

    .slider-right-bottom-img {
        position: absolute;
        bottom: 17%;
        right: 15%;
        width: 10%;
        z-index: 0;
    }

    .slider-next-btn {
        position: absolute;
        bottom: 10%;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn {
        position: absolute;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .background-bold-text {
        font-family: Serif;
        font-size: 60px;
        line-height: 70px;
        font-weight: 900;
    }

    .slider-nav-btn-section {
        position: absolute;
        left: 0;
        height: 12%;
        width: 5%;
        top: 30%;
        z-index: 3;
    }

    .slider-nav-btn {
        width: 15px;
        height: 15px;
        border-left: 4px solid #0b5ed7;
        border-bottom-right-radius: 4px;
    }

    .m-text {
        margin-top: -30px;
    }

    .font-next {
        font-size: 40px;
        animation-name: next-btn;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
    }
}

@keyframes next-btn {
    0% {
        transform: translateY(0px);
    }
    50% {
        margin-top: 10px;
        transform: scale(1.1) translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slider-left-top-img-exit {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateY(-130%) rotate(90deg);
    }
}

.slider-left-top-img-exit {
    animation-name: slider-left-top-img-exit;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-left-top-img-enter {
    0% {
        transform: translateX(-180%) rotate(90deg);
    }
    100% {
        transform: translateX(0px);
    }
}

.slider-left-top-img-enter {
    animation-name: slider-left-top-img-enter;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-left-bottom-img-exit {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-300%) rotate(90deg);
    }
}

.slider-left-bottom-img-exit {
    animation-name: slider-left-bottom-img-exit;
    animation-duration: 1.2s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-left-bottom-img-enter {
    0% {
        transform: translateY(130%) rotate(90deg);
    }
    100% {
        transform: translateY(0px);
    }
}

.slider-left-bottom-img-enter {
    animation-name: slider-left-bottom-img-enter;
    animation-duration: 1.7s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-right-bottom-img-enter {
    0% {
        transform: translateY(130%) rotate(-90deg);
    }
    100% {
        transform: translateY(0px);
    }
}

.slider-right-bottom-img-enter {
    animation-name: slider-right-bottom-img-enter;
    animation-duration: 1.6s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-right-bottom-img-exit {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateX(200%) rotate(90deg);
    }
}

.slider-right-bottom-img-exit {
    animation-name: slider-right-bottom-img-exit;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-right-top-img-enter {
    0% {
        transform: translateX(180%) translateY(100%) rotate(-90deg);
    }
    100% {
        transform: translateY(0px);
    }
}

.slider-right-top-img-enter {
    animation-name: slider-right-top-img-enter;
    animation-duration: 1.2s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-right-top-img-exit {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateX(280%) rotate(90deg);
    }
}

.slider-right-top-img-exit {
    animation-name: slider-right-top-img-exit;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slide-center-text-exit {
    0% {
        transform: translateY(0px);
        opacity: 100%;
    }
    100% {
        transform: translateX(-230%);
        opacity: 0;
    }
}

.slide-center-text-exit {
    animation-name: slide-center-text-exit;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slide-center-text-enter {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.slide-center-text-enter {
    animation-name: slide-center-text-enter;
    animation-duration: 1.2s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes main-slider-background-enter {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.main-slider-background-exit {
    animation-name: main-slider-background-enter;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
}


/*slider-2*/
/*-------------------------------------------------------------------------------------------------------------------*/
.main-slider-2 {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    margin-top: -60px;
    direction: ltr;
}

.font-slider-p-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.font-slider-h-2 {
    color: #0b5ed7;
    font-weight: 700;
    font-size: 20px;
}

.slide-2 {
    position: relative;
    height: 58vh;
    width: 100%;
}

.slider-btn-2 {
    opacity: 60%;
}

.slider-center-img-2 {
    position: absolute;
    overflow: hidden;
    height: 50%;
    right: 2.5%;
    top: 0;
    width: 95%;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slider-center-text-2 {
    position: absolute;
    height: 80%;
    top: 45%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.slider-next-btn-2 {
    position: absolute;
    bottom: 10%;
    left: 90%;
    height: 8%;
    width: 5%;
    z-index: 1;
}

.slider-prev-btn-2 {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 47.5%;
    height: 8%;
    width: 5%;
    z-index: 1;
}

.slider-nav-btn-section-2 {
    position: absolute;
    bottom: 13%;
    left: 5%;
    z-index: 3;
}

.slider-nav-btn-2 {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #0b5ed7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: 1s;
}

.slider-nav-btn-2:hover {
    background: #f1f1f1;
    transition: .5s;
}

.m-text {
    margin-top: -30px;
    transition: .5s;
}

.font-next-2 {
    font-size: 30px;
    animation-name: next-btn-2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
    color: #0b5ed7;

}

.slider-next-btn-2:hover i.font-next {
    color: #343a40;
}

.active-slider-btn-2 {
    background: #0b5ed7;
    border-bottom: #fff3cd 3px solid;
}

@media (min-width: 576px) {
    .main-slider-2 {
        position: relative;
        height: 70vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p-2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .font-slider-h-2 {
        color: #0b5ed7;
        font-weight: 700;
        font-size: 20px;
    }

    .slide-2 {
        position: relative;
        height: 60vh;
        width: 100%;
    }

    .slider-btn-2 {
        opacity: 60%;
    }

    .slider-center-img-2 {
        position: absolute;
        overflow: hidden;
        height: 50%;
        right: 15%;
        top: 0;
        width: 70%;
        z-index: 1;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .slider-center-text-2 {
        position: absolute;
        height: 80%;
        top: 45%;
        left: 10%;
        width: 80%;
        z-index: 1;
    }

    .slider-next-btn-2 {
        position: absolute;
        bottom: -3%;
        left: 90%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn-2 {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-nav-btn-section-2 {
        position: absolute;
        bottom: 0;
        left: 5%;
        z-index: 3;
    }

    .slider-nav-btn-2 {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #0b5ed7;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        transition: 1s;
    }

    .slider-nav-btn-2:hover {
        background: #f1f1f1;
        transition: .5s;
    }

    .m-text {
        margin-top: -30px;
        transition: .5s;
    }

    .font-next-2 {
        font-size: 30px;
        animation-name: next-btn-2;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
        color: #0b5ed7;

    }

    .slider-next-btn-2:hover i.font-next {
        color: #343a40;
    }
}

@media (min-width: 768px) {
    .main-slider-2 {
        position: relative;
        height: 50vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p-2 {
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
    }

    .font-slider-h-2 {
        color: #0b5ed7;
        font-weight: 700;
        font-size: 20px;
    }

    .slide-2 {
        position: relative;
        height: 50vh;
        width: 100%;
    }

    .slider-btn-2 {
        opacity: 60%;
    }

    .slider-center-img-2 {
        position: absolute;
        overflow: hidden;
        height: 70%;
        right: 2%;
        width: 40%;
        z-index: 1;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .slider-center-text-2 {
        position: absolute;
        overflow: hidden;
        height: 100%;
        top: -10%;
        left: 5%;
        width: 50%;
        z-index: 1;
    }


    .slider-next-btn-2 {
        position: absolute;
        bottom: 6%;
        left: 90%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn-2 {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-nav-btn-section-2 {
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 3;
    }

    .slider-nav-btn-2 {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #0b5ed7;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        transition: 1s;
    }

    .slider-nav-btn-2:hover {
        background: #f1f1f1;
        transition: .5s;
    }

    .m-text {
        margin-top: -30px;
        transition: .5s;
    }

    .font-next-2 {
        font-size: 30px;
        animation-name: next-btn-2;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
        color: #0b5ed7;

    }

    .slider-next-btn-2:hover i.font-next {
        color: #343a40;
    }

    .active-slider-btn-2 {
        background: #0b5ed7;
        border-bottom: #fff3cd 3px solid;
    }
}

@media (min-width: 991px) {

}

@media (min-width: 1200px) {
    .main-slider-2 {
        position: relative;
        height: 60vh;
        width: 100%;
        overflow: hidden;
    }

    .font-slider-p-2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .font-slider-h-2 {
        color: #0b5ed7;
        font-weight: 700;
        font-size: 22px;
    }

    .slide-2 {
        position: relative;
        height: 60vh;
        width: 100%;
    }

    .slider-btn-2 {
        opacity: 60%;
    }

    .slider-center-img-2 {
        position: absolute;
        overflow: hidden;
        height: 70%;
        right: 5%;
        width: 40%;
        z-index: 1;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .slider-center-text-2 {
        position: absolute;
        overflow: hidden;
        height: 90%;
        top: -10%;
        left: 10%;
        width: 40%;
        z-index: 1;
    }


    .slider-next-btn-2 {
        position: absolute;
        top: 30%;
        left: 48%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-prev-btn-2 {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 47.5%;
        height: 8%;
        width: 5%;
        z-index: 1;
    }

    .slider-nav-btn-section-2 {
        position: absolute;
        bottom: 20%;
        left: 5%;
        z-index: 3;
    }

    .slider-nav-btn-2 {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #0b5ed7;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        transition: 1s;
    }

    .slider-nav-btn-2:hover {
        background: #f1f1f1;
        transition: .5s;
    }

    .m-text {
        margin-top: -30px;
        transition: .5s;
    }

    .font-next-2 {
        font-size: 30px;
        animation-name: next-btn-2;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        transition: 1s ease-in-out;
        color: #0b5ed7;

    }

    .slider-next-btn-2:hover i.font-next {
        color: #343a40;
    }

    .active-slider-btn-2 {
        background: #0b5ed7;
        border-bottom: #fff3cd 3px solid;
    }
}

@keyframes next-btn-2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: scale(1.1) translateX(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide-center-text-exit-2 {
    0% {
        transform: translateX(0px);
        opacity: 100%;
    }
    100% {
        transform: translateX(230%);
        opacity: 0;
    }
}

.slide-center-text-exit-2 {
    animation-name: slide-center-text-exit-2;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slide-center-text-enter-2 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.slide-center-text-enter-2 {
    animation-name: slide-center-text-enter-2;
    animation-duration: 1.2s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-center-img-exit-2 {
    0% {
        transform: translateX(0px);
        opacity: 100%;
    }
    100% {
        transform: translateX(-230%);
        opacity: 0;
    }
}

.slider-center-img-exit-2 {
    animation-name: slider-center-img-exit-2;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-center-img-enter-2 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.slider-center-img-enter-2 {
    animation-name: slider-center-img-enter-2;
    animation-duration: 1.2s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

@keyframes slider-btn-exit {
    0% {

    }
    100% {
        width: 0;
    }
}

.slider-btn-exit {
    animation-name: slider-btn-exit;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
}

@keyframes slider-btn-enter {
    0% {
        width: 0;
    }
    100% {
        transform: translateX(0);
    }
}

.slider-btn-enter {
    animation-name: slider-btn-enter;
    animation-delay: .6s;
    animation-duration: .5s;
    animation-fill-mode: backwards;
    transition: 1s ease-in-out;
}

/*end slider-2*/

/*-------------------------------------------------------------------------------------------------------------------*/